<app-header></app-header>
<main class="form-container">
  <div class="add-transaction-box">
    <h2>{{ isEditMode ? 'Atualizar' : 'Adicionar' }} Transação</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="transactionType">Tipo de Transação*</label>
        <select
          id="transactionType"
          [(ngModel)]="transaction.type"
          name="transactionType"
          required
          >
          @if (!isEditMode) {
            <option value="" disabled selected>Selecione tipo</option>
            @for (type of transactionTypes; track type) {
              <option [value]="type">{{ type }}</option>
            }
          } @else {
            <option value="{{ transaction.type }}" disabled selected>{{ transaction.type }}</option>
          }
        </select>
      </div>

      @if (transaction.type=='Despesa') {
        <div class="form-group">
          <label for="category">Categoria*</label>
          <select
            id="category"
            [(ngModel)]="transaction.category"
            name="category"
            required
            >
            @if (!isEditMode) {
              <option value="" selected disabled>Selecione categoria</option>
            } @else {
              <option value="{{ transaction.category }}" selected disabled>{{ transaction.category }}</option>
            }
            @for (cat of categories; track cat) {
            <option [value]="cat.name ">{{ cat.namePtBr }}</option>
            }
          </select>
        </div>
      }

      <div class="form-group">
        <label for="value">Valor*</label>
        <input
          type="number"
          id="value"
          placeholder="R$"
          [(ngModel)]="transaction.value"
          name="value"
          required
          >
      </div>

      <div class="form-group">
        <label for="date">Data*</label>
        <input
          type="date"
          id="date"
          placeholder="Selecione Data"
          [(ngModel)]="transaction.date"
          name="date"
          required
          >
      </div>

      <div class="form-group">
        <label for="description">Descrição*</label>
        <textarea
          id="description"
          placeholder="eg. Conta de luz"
          [(ngModel)]="transaction.description"
          name="notes"
          required
          rows="4"
        ></textarea>
      </div>

      @if (errorMessage) {
        <p class="server-error">{{ errorMessage }}</p>
      }
      <div class="form-actions">
        <button type="submit" class="btn primary">{{ isEditMode ? 'Atualizar' : 'Adicionar' }} Transação</button>
        @if (sucessMessage) {
          <p class="server-success">{{ sucessMessage }}</p>
        }
      </div>
    </form>
  </div>
</main>
