footer {
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 11px 40px;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px solid var(--tertiary-color);
}

.footer-links a {
  color: var(--text-color);
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: white;
  text-decoration: underline;
}

/* Optional: Responsive adjustments */
@media (max-width: 600px) {
    footer {
        padding: 20px;
    }

    .footer-links a {
        margin: 0 5px; /* Reduce space between links on small screens */
    }

    .footer-content {
          flex-direction: column;
          gap: 8px;
    }
}