services:

  front-end:
    build: ./app/
    ports:
      - "4200:4200"

  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    entrypoint: [
      "java",
      "-Dspring.profiles.active=dev",
      "-DPOSTGRES_URL=db:5432/finances-api",
      "-DPOSTGRES_USERNAME=finances-api",
      "-DPOSTGRES_PASSWORD=finances-api",
      "-DREDIS_URL=redis",
      "-DAI_API_KEY=CHANGEKEY",
      "-jar",
      "/app.jar"
    ]

  db:
    image: postgres:17
    environment:
      POSTGRES_DB: finances-api
      POSTGRES_USER: finances-api
      POSTGRES_PASSWORD: finances-api
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: 55067868+wesleymime@users.noreply.github.com
      PGADMIN_DEFAULT_PASSWORD: password_finances-api
    ports:
      - "5050:80"

  redis:
    image: redis
    ports:
      - "6379:6379"

volumes:
  db_data: