.welcome {
  text-align: center;
}

.cards-grid {
  grid-template-columns: 2fr 3fr;
}

.cards-line-grid {
  display: grid;
}

.cards-line-grid .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.graphs-grid {
  display: grid;
  grid-template-columns: 4fr 5fr 5fr;
  gap: 20px;
}

.animate {
  font-size: 0.8em;
  stroke-dasharray: 1250;
  stroke-dashoffset: 1300;
  animation: draw-line 7s linear forwards;
}

.chart-summary {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
}

.chart-summary .summary-value {
  font-size: 1.6em;
  font-weight: bold;
}

.chart-summary .summary-percentage {
  font-size: 0.9em;
  font-weight: bold;
}

.chart-summary .summary-period {
  font-size: 0.8em;
  color: #a0aec0;
}

.bar-chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 150px;
}

.bar {
  width: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0 2px;
  animation: bars 3s;
}

.line-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.line-chart svg {
  width: 100%;
  height: 170px;
}


:host ::ng-deep .line-chart .data-line {
  stroke-width: 6;
}

.chart-labels {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
  color: #a0aec0;
  margin-top: 5px;
}
.chart-labels span {
  text-align: center;
  flex-grow: 1;
}

.recent-transactions .card {
  padding: 0;
}

:host ::ng-deep .data-line {
  fill: none;
  stroke: #48bb78;
  stroke-width: 3;
}

:host ::ng-deep .data-point {
  fill: #48bb78;
}

:host ::ng-deep .label {
  font-size: 0.9em;
  fill: #a0aec0;
}

:host ::ng-deep .title {
  font-size: 16px;
  font-weight: bold;
  fill: #a0aec0;
}

.donut {
  margin: 0 auto;
  display: block;
  max-width: 240px;
}

.progress-donut {
  justify-self: center;
  margin-top: 30px;
  animation: fillDonut 3s ease-in-out;
}
.percentage-text {
  font-size: 3em;
  font-weight: bold;
  fill: #ffffff;
  text-anchor: middle;
  dominant-baseline: middle;
}

.positive {
  stroke: #48bb78;
}

.negative {
  stroke: #fc8181;
}

.neutral {
  stroke:#2d3748;
}

.card .list {
  padding: 20px;
  border-bottom: 1px solid #2d3748;
}

.spending-list,
.spending-header {
    display: grid;
    /* Define columns: Date, Type, Amount, Description  */
    grid-template-columns: 90px 65px 1fr 1fr;
    gap: 15px;
}

.spending-header {
    font-weight: bold;
    margin-bottom: 2px;
}

.spending-item {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spending-item:nth-child(1) { /* The 1th item is the date */
    text-align: center;
}
.spending-item:nth-child(4) { /* The 4th item is the amount */
    text-align: right;
}


@keyframes draw-line {
  to { stroke-dashoffset: 0; }
}

@keyframes fillDonut {
  from {
    stroke-dashoffset: 848.23; /* circunference */
  }
}

@keyframes bars {
  from { height: 0; }
  to { height: 100; }
}

@media (min-width: 1049px) {
  .line-chart svg {
    max-height: 200px;
  }
}


@media (max-width: 1049px) {
  .graphs-grid {
    grid-template-columns: 1fr 1fr;
  }

  .line-chart svg {
     height: 25vw;
  }
}


@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 750px) {
  .cards-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .graphs-grid {
    grid-template-columns: 1fr;
  }

  .line-chart svg {
    height: 50vw;
  }

  .donut {
    max-width: 340px;
  }
}

@media (max-width: 640px) {
  .summary-cards-grid {
    grid-template-columns: 1fr;
  }

  .charts-grid {
    grid-template-columns: 1fr;
  }

  .bar-chart {
    height: 100px;
  }

  svg {
    font-size: 1em;
  }

  .spending-list,
  .spending-header {
    display: contents;
  }
  .card .list {
      background-color: #1a202c;
      border-bottom: 1px solid #2d3748;
      border-radius: 0px;
  }
}

@media (max-width: 480px) {
  .card-value {
    font-size: 1.6em;
    word-break: break-word;
  }

  .donut {
    max-width: 100%;
  }
}
