.cards-grid {
    grid-template-columns: 1fr 2fr;
}

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.graphs-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
}

svg {
     font-size: 0.8em;
}

.toggle-icon {
  cursor: pointer;
  user-select: none;
  position: fixed;
  top: 100px;
  right: 45px;
  border: none;
  background-color: unset;
}

.chart-summary {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
}

.chart-summary .summary-value {
    font-size: 1.6em;
    font-weight: bold;
}

.chart-summary .summary-percentage {
    font-size: 0.9em;
    font-weight: bold;
}

.chart-summary .summary-period {
     font-size: 0.8em;
     color: #a0aec0;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 150px;
}

.bar {
    width: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0 2px;
}

.line-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.chart-labels {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    color: #a0aec0;
    margin-top: 5px;
}
.chart-labels span {
    text-align: center;
    flex-grow: 1;
}


.recent-transactions h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #ffffff;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a202c;
    border: 1px solid #2d3748;
    border-radius: 8px;
    overflow: hidden; /* Ensures border radius works */
}

.transactions-table th,
.transactions-table td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #2d3748;
}

.transactions-table th {
    background-color: #2d3748;
    font-size: 0.9em;
    color: #a0aec0;
    font-weight: normal;
    text-transform: uppercase;
}

.transactions-table td {
    font-size: 0.95em;
    color: #cbd5e0;
}

.transactions-table tbody tr:last-child td {
    border-bottom: none;
}

.transactions-table .amount-header {
    text-align: right;
}

.transactions-table td:last-child {
    text-align: right;
    font-weight: bold;
}

:host ::ng-deep .data-line {
  fill: none;
  stroke: #48bb78;
  stroke-width: 3;
}

:host ::ng-deep .data-point {
  fill: #48bb78;
}

:host ::ng-deep .label {
  font-size: 0.9em;
  fill: #a0aec0;
}

:host ::ng-deep .title {
  font-size: 16px;
  font-weight: bold;
  fill: #a0aec0;
}

.pie {
  justify-self: center;
  margin-top: 30px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: conic-gradient(
    #2d3748 calc(3.6deg * var(--segment1, 0)),
    #48bb78 0
  );
}

.innerPie {
  display: flex;
  justify-self: center;
  margin-top: -225px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(#1a202c 0);
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

@media (max-width: 1049px) {
  .pie {
    justify-self: center;
    margin-top: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
      #2d3748 calc(3.6deg * var(--segment1, 0)),
      #48bb78 0
    );
  }

  .innerPie {
    margin-bottom: 20px;
    display: flex;
    justify-self: center;
    margin-top: -175px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: conic-gradient(#1a202c 0);
    justify-content: center;
    align-items: center;
    font-size: 2em;
   }
}



@media (max-width: 900px) {
  .cards-grid {
      grid-template-columns: 1fr 2fr;
  }
  .pie {
    justify-self: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: conic-gradient(
      #2d3748 calc(3.6deg * var(--segment1, 0)),
      #48bb78 0
    );
  }

  .innerPie {
    display: flex;
    justify-self: center;
    margin-top: -130px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: conic-gradient(#1a202c 0);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
}

@media (max-width: 750px) {
  .cards-grid {
      grid-template-columns: 1fr;
  }

  .graphs-grid {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .summary-cards-grid {
      grid-template-columns: 1fr;
  }

  .charts-grid {
    grid-template-columns: 1fr;
  }

  .bar-chart {
      height: 100px;
  }

  svg {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .assets-liabilities-card .card-row {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
  .transactions-table th,
  .transactions-table td {
      font-size: 0.8em;
      padding: 5px 5px;
  }

  :host ::ng-deep .label {
    font-size: 1.2em;
  }
}

svg {
  stroke-dasharray: 1250;
  stroke-dashoffset: 1300;
  animation: draw 3s linear forwards;
}
@keyframes draw {
  to { stroke-dashoffset: 0; }
}
