.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #1a202c; 
  border-bottom: 1px solid #2d3748;
  color: #cbd5e0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container:hover {
  cursor: pointer;
  opacity: 0.9;
}

.logo {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.app-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #e2e8f0;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

.main-nav a {
  text-decoration: none;
  color: #cbd5e0;
  font-size: 0.95em;
  transition: color 0.3s ease;
  position: relative; /* Needed for the active indicator */
}

.main-nav a:hover {
  color: #e2e8f0;
}

.main-nav a.active {
  color: #ffffff;
  font-weight: bold;
}
.main-nav a.active::after {
  content: '';
  position: absolute;
  bottom: -13px; /* Adjust position below text */
  left: 0;
  right: 0;
  height: 2px;
  background-color: #345398;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1em;
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.95em;
  transition: background-color 0.3s ease;
}

.btn-header {
  border-radius: 20px;
  padding: 7px 18px;
  font-weight: bold;
}

@media (max-width: 640px) {
  .main-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .app-name {
    display: none;
  }
  .app-header {
    padding: 15px 20px;
    min-width: initial;
    justify-content: space-between;
    align-content: stretch;
  }
  .main-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}