<app-header></app-header>
<main class="content">
  <section class="page-overview">
      <h1>Pesquisar Transações</h1>
      <p class="subtitle">Filtre transações por data e/ou descrição para encontrar receitas e despesas específicas.</p>

    <div class="search-form">
      <div class="form-group">
        <label for="date">Data</label>
        <input type="month" id="date" [(ngModel)]="date">
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" id="description" [(ngModel)]="description" placeholder="Descrição">
      </div>

      <div class="form-group">
        <label for="transactionType">Tipo</label>
        <select id="transactionType" [(ngModel)]="selectedType">
          <option value="Both">Ambos</option>
          <option value="Income">Receita</option>
          <option value="Expense">Despesa</option>
        </select>
      </div>

      <button class="btn primary search" (click)="onSearch()">Pesquisar</button>
    </div>
    <div class="card gray-background">
      <div class="list">
        <div class="spending-header">
            <div>Data</div>
            <div>Tipo</div>
            <div>Categoria</div>
            <div style="text-align: right;">Valor</div>
            <div>Descrição</div>
        </div>
      </div>
      @for (transaction of searchResults; track transaction.id) {
        <div class="list">
          <div class="spending-list">
            <div class="spending-item">{{ transaction.date | date: 'dd/MM/yyyy'}}</div>
            <div class="spending-item">{{ transaction.type }}</div>
            <div class="spending-item">{{ transaction.category }}</div>
            <div class="spending-item">{{ transaction.value | currency: 'BRL' }}</div>
            <div class="spending-item">{{ transaction.description }}</div>
            @if (transaction !== transactionPendingRemoval) {
              <div class="spending-btn">
                <a [routerLink]="['/transactions/edit', transaction.id]" (click)="editTransaction(transaction)" class="edit">EDITAR</a>
                <a class="remove" (click)="removeTransaction(transaction)">REMOVER</a>
              </div>
            }
          </div>
          @if (transaction === transactionPendingRemoval) {
            <app-remove-transaction
              (cancelled)="handleCancelRemoval()"
              (confirmed)="handleConfirmRemoval(transaction)"
            ></app-remove-transaction>
          }
        </div>
      }

      @if (searching) {
      <div class="no-results">
        <img src="/assets/loading-ezgif.gif" width="35" height="35" priority>
        Pesquisando...
      </div>
      }

      @if (searchResults.length === 0 && !searching) {
        <div class="no-results">
            Nenhuma transação encontrada.
        </div>
      }
    </div>
  </section>
</main>
