
/* Search Form Layout */
.search-form {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
}

.form-group input[type="date"],
.form-group input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.form-group input[type="date"]:focus,
.form-group input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(90, 90, 90, 0.5);
}

.form-group select {
    padding: 10px;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group select:focus {
     border-color: #5a5a5a;
     box-shadow: 0 0 5px rgba(90, 90, 90, 0.5);
}

.search {
    margin-top: 3px;
    border-radius: 4px;
}

.card .list {
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--card-color);
    border-bottom: 1px solid var(--tertiary-color);
    margin-bottom: 1px;
}

/* Style for the list container */
.spending-list,
.spending-header {
    display: grid;
    /* Define columns: Checkbox, Date, Type, Category, Amount, Description, Actions */
    grid-template-columns: 30px 90px 65px 95px 120px 1fr 60px;
    gap: 15px;
    padding: 10px 0;
    justify-items: start;
    align-items: center;
}

/* Remove border from the last row */
.spending-list:last-child {
    border-bottom: none;
}

.spending-header {
    font-weight: bold;
    margin-bottom: 2px;
}

.spending-header:nth-child(4) {
    text-align: right;
}


.spending-item {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spending-btn {
    display: flex;
    gap: 10px;
}

input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    margin-left: 2px;
    width: 20px;
    height: 20px;
}

.spending-btn button {
    cursor: pointer;
    border: 0;
    background-color: var(--card-color);
    fill: var(--muted-text-color);
    padding: 0px;
}

.spending-btn button:hover {
    fill: var(--highlight-text-color);
}

.edit {
    fill: #81c784;
}
.delete {
    fill: #e57373;
}
.edit:hover {
    fill: #a5d6a7;;
}
.delete:hover {
    fill: #ef9a9a;;
}

.no-results {
    text-align: center;
    padding: 20px;
    color: var(--text-color);
    font-style: italic;
    justify-content: center;
    display: flex;
    align-items: center;
}

.no-results img {
  margin-right: 10px;
}


.total-summary {
    position: sticky;
    top: 0;
    z-index: 100;
    width: calc(100vw - 60px);
    max-width: 1200px;
    background: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 8px;
    margin-bottom: 30px;
}

.summary-item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
    padding: 10px;
}

.summary-item button {
    background-color: var(--tertiary-color);
    padding: 5px;
}

@media (max-width: 870px) {
    .spending-btn {
        display: flex;
        justify-content: space-between;
    }
    .spending-list,
    .spending-header {
        display: contents;
    }

    .card {
        border-radius: 8px;
    }

    .card .list {
        border-radius: 0px;
        gap: 20px;
    }

    .spending-item:nth-child(2) { /* The 2th item is the date */
        text-align: center;
    }
    .spending-item:nth-child(5) { /* The 5th item is the amount */
        text-align: right;
    }
    .spending-btn {
        margin-top: 10px;
    }
}