<app-header></app-header>
<main class="content">
  <section class="page-overview">
      <h1>Pesquisar Transações</h1>
      <p class="subtitle">Filtre transações por data e/ou descrição para encontrar receitas e despesas específicas.</p>

    <div class="search-form">
      <div class="form-group">
        <label for="date">Data</label>
        <input type="month" id="date" [(ngModel)]="date">
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" id="description" [(ngModel)]="description" placeholder="Descrição">
      </div>

      <div class="form-group">
        <label for="transactionType">Tipo</label>
        <select id="transactionType" [(ngModel)]="selectedType">
          <option value="Both">Ambos</option>
          <option value="Income">Receita</option>
          <option value="Expense">Despesa</option>
        </select>
      </div>

      <button class="btn primary search" (click)="onSearch(true)">Pesquisar</button>
    </div>
    @if (selectedTransactions.length > 0) {
    <div #totalSummaryContainer class="total-summary">
      <div class="summary-item">
        <span class="card-label">Receitas:</span>
        <span class="card-value">{{ totalIncomeSelected | currency: 'BRL'}}</span>
      </div>
      <div class="summary-item">
        <span class="card-label">Despesas:</span>
        <span class="card-value">{{ totalExpenseSelected | currency: 'BRL'}}</span>
      </div>
      <div class="summary-item">
        <span class="card-label">Saldo:</span>
        <span class="card-value">{{ totalValueSelected | currency: 'BRL'}}</span>
      </div>
      <div class="summary-item">
        <button class="btn" (click)="clear()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
          </svg>
        </button>
      </div>
    </div>
    }
    <div class="card">
      <div class="list">
        <div class="spending-header">
          <div class="spending-btn">
            <button (click)="toggleAll()">
              @if (isAllSelected) {
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                  <path d="m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
                </svg>
              }
              @else {
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                  <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z"/>
                </svg>
              }
            </button>
          </div>
          <div style="text-align: center">Data</div>
          <div>Tipo</div>
          <div>Categoria</div>
          <div style="text-align: right;">Valor</div>
          <div>Descrição</div>
          <div style="text-align: center;">Ações</div>
        </div>
      </div>
      @for (transaction of searchResults; track transaction.id) {
        <div class="list">
          <div class="spending-list">
            <div class="spending-btn">
              <button>
                <input type="checkbox" [(ngModel)]="transaction.selected" (click)="selectTransaction(transaction)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                @if (transaction.selected) {
                    <path d="m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
                }
                @else {
                  <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z"/>
                }
                </svg>
              </button>
            </div>
            <div class="spending-item">{{ transaction.date | date: 'dd/MM/yyyy'}}</div>
            <div class="spending-item">{{ transaction.type }}</div>
            <div class="spending-item">{{ transaction.category }}</div>
            <div class="spending-item">{{ transaction.value | currency: 'BRL'}}</div>
            <div class="spending-item">{{ transaction.description }}</div>
            @if (transaction !== transactionPendingRemoval) {
              <div class="spending-btn">
                <button [routerLink]="['/transactions/edit', transaction.id]" (click)="editTransaction(transaction)">
                  <svg class="edit"  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                    <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
                  </svg>
                </button>
                <button (click)="removeTransaction(transaction)">
                  <svg class="delete" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                  </svg>
                </button>
              </div>
            }
          </div>
          @if (transaction === transactionPendingRemoval) {
            <app-remove-transaction
              (cancelled)="handleCancelRemoval()"
              (confirmed)="handleConfirmRemoval(transaction)"
            ></app-remove-transaction>
          }
        </div>
      }

      @if (searching) {
      <div class="no-results">
        <img src="/assets/loading-ezgif.gif" width="35" height="35" priority>
        Pesquisando...
      </div>
      }

      @if (searchResults.length === 0 && !searching) {
        <div class="no-results">
          Nenhuma transação encontrada.
        </div>
      }
    </div>
  </section>
</main>
