
/* Search Form Layout */
.search-form {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #cccccc;
}

.form-group input[type="date"],
.form-group input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    color: #f0f0f0;
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.form-group input[type="date"]:focus,
.form-group input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(90, 90, 90, 0.5);
}

.form-group select {
    padding: 10px;
    border-radius: 4px;
    color: #f0f0f0;
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group select:focus {
     border-color: #5a5a5a;
     box-shadow: 0 0 5px rgba(90, 90, 90, 0.5);
}

.search {
    margin-top: 3px;
    border-radius: 4px;
}

.card .list {
    padding: 20px;
    box-sizing: border-box;
    background-color: #1a202c;
    border-bottom: 1px solid #2d3748;
    margin-bottom: 1px;
}

/* Style for the list container */
.spending-list,
.spending-header {
    display: grid;
    /* Define columns: Date, Type, Category, Amount, Description, Edit, Remove */
    grid-template-columns: 90px 65px 95px 110px 1fr 60px 90px;
    gap: 15px;
    padding: 10px 0;
    justify-items: start;
}

/* Remove border from the last row */
.spending-list:last-child {
    border-bottom: none;
}

.spending-header {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2px;
}

.spending-header:nth-child(4) {
    text-align: right;
}


.spending-item {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spending-item:nth-child(1) { /* The 1th item is the date */
    text-align: center;
}
.spending-item:nth-child(4) { /* The 4th item is the amount */
    text-align: right;
}

.spending-btn {
    display: contents;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}

.spending-btn .edit {
    text-decoration: none;
    color: #81c784;
}

.spending-btn .remove {
    color: #e57373;
}

.spending-btn .edit:hover {
    color: #a5d6a7;
}

.spending-btn .remove:hover {
    color: #ef9a9a;
}

.no-results {
    text-align: center;
    padding: 20px;
    color: #c0c0c0;
    font-style: italic;
    justify-content: center;
    display: flex;
    align-items: center;
}

.no-results img {
  margin-right: 10px;
}

@media (max-width: 836px) {

    .spending-btn {
        display: flex;
        color: #81c784;
        justify-content: space-between;
    }
    .spending-list,
    .spending-header {
        display: contents;
    }

    .card {
        background-color: #1a202c;
        border-radius: 8px;
    }

    .card .list {
        background-color: #1a202c;
        border-bottom: 1px solid #2d3748;
        border-radius: 0px;
        gap: 20px;
    }
}
