<app-header></app-header>
<main class="search-transactions-content">
  <section class="page-overview">
      <h1>Pesquisar Transações</h1>
      <p class="subtitle">Filtre transações por data e descrição para encontrar receitas e despesas específicas.</p>
  
    <!-- Search Form -->
    <div class="search-form">
      <div class="form-group">
        <label for="date">Data</label>
        <input type="month" id="date" [(ngModel)]="date">
      </div>
  
      <!-- New Description Field -->
      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" id="description" [(ngModel)]="description" placeholder="Descrição">
      </div>

      <div class="form-group">
        <label for="transactionType">Tipo</label>
        <select id="transactionType" [(ngModel)]="selectedType">
          <option value="Both">Ambos</option>
          <option value="Income">Receita</option>
          <option value="Expense">Despesa</option>
        </select>
      </div>
  
      <button class="search-button" (click)="onSearch()">Pesquisar</button>
    </div>
  
    <!-- Search Results -->
    <div class="search-results">
      <div class="card">
        <div class="card list">
          <div class="spending-header">
              <div>Data</div>
              <div>Tipo</div>
              <div>Categoria</div>
              <div style="text-align: right;">Valor</div>
              <div>Descrição</div>
          </div>
        </div>
        @for (transaction of searchResults; track transaction) {
          <div class="card list">
            <div class="spending-list">
              <div class="spending-item">{{ transaction.date | date: 'dd/MM/yyyy'}}</div>
              <div class="spending-item">{{ transaction.type }}</div>
              <div class="spending-item">{{ transaction.category }}</div>
              <div class="spending-item">{{ transaction.amount }}</div>
              <div class="spending-item">{{ transaction.description }}</div>
              <div class="spending-btn">
                <a class="edit">EDITAR</a>
                <a class="remove">REMOVER</a>
              </div>
            </div>
          </div>
        }

        @if (searchResults.length === 0) {
          <div class="no-results">
              Nenhuma transação encontrada.
          </div>
        }
      </div>
    </div>
  </section>
</main>