.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  padding-right: 40px;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); /* Vertically center */
  color: #a0aec0;
  cursor: pointer;
  font-size: 1.1em; 
  user-select: none; /* Prevent text selection on icon */
}


.forgot-password-link {
  display: block;
  text-align: right;
  font-size: 0.9em;
  color: #9f7aea;
  text-decoration: none;
  margin-top: -10px;
  margin-bottom: 30px;
  transition: color 0.2s ease;
}

.forgot-password-link:hover {
  color: #6b4ee2;
  text-decoration: underline;
}