<app-header></app-header>
<main class="home-content">
  <section class="hero-section">
    <h1>Finances APP</h1>
    <div class="auth-buttons">
      <button class="btn primary" routerLink="/login">Entrar</button>
      <button class="btn secondary" routerLink="/register">Registrar</button>
    </div>
  </section>
  <section class="features-section">
    <h2>Features</h2>
    <div class="features-grid">
      @for (feature of features; track feature.title; let i = $index) {
        <button class="feature-card" (click)="toggleFeature(i)">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3">
            <path [attr.d]="feature.iconSvg"/>
          </svg>
          <h3 class="feature-text">{{ feature.title }}</h3>
          @if (feature.open) {
          <p class="feature-description animate-slide-in-down" [id]="'desc-' + i">
            {{ feature.description }}
          </p>
          }
          <span class="arrow-icon" [class.open]="feature.open">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 10l5 5 5-5" stroke="#b8c0cc" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </button>
      }
    </div>
  </section>
</main>
